@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Play:wght@400;700&display=swap');

:root {
    --pcolor: #66d2ec;
    --scolor: rgb(99, 55, 223);
    --tcolor: rgb(255, 143, 231);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(216, 216, 216);
}

header h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    color: var(--scolor)
}